footer {
   padding: 1rem 1rem;
   color: lightgray;
   background-color: #515151;
   box-shadow: 0 -0.25rem 0.25rem lightgray;
}

footer .copy {
   font-size: 90%;
   text-shadow: 1px 2px 3px black;
}

footer ul {
   display: flex;
   gap: 1.5rem;
   list-style-type: none;
}

footer img {
   filter: drop-shadow(1px 1px 10px black);
}

footer {
   display: flex;
   align-items: center;
   flex-direction: column;
   row-gap: 1rem;
}

/* @media (max-width: 480px) {
   footer {
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: 1rem;
   }
}

@media (min-width: 481px) {
   footer {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(3, 33.33%);
   }

   footer ul {
      grid-column: 3;
      padding-right: 5svw;
      justify-content: flex-end;
   }

   footer .copy {
      text-align: center;
      grid-column: 2;
   }
} */
