@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&display=swap%27");
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&display=swap%27");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lexend+Zetta:wght@100&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap%27');

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

html,
body {
  width: 100%;
  height: 100%;
  
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #f5f5f5;
 
}

header {
    top: 0;
    position: fixed;
    height: 8rem;
    width: 100%;
    /*background-color: white; */
    display: flex;
    justify-content: space-between;
    font-family: "Nunito", sans-serif;
    z-index: 100;
    border-bottom: 7px solid white;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.2);
    background: linear-gradient(-90deg, #F74F18 0%, #FEDF16 100%);
    background-size: 200% 200%;
    animation: ani_gradient 12s ease infinite;
    color:white;
}

header ul{
  list-style: none;
}
  


/*header div.logo {
  background-color: yellow;
} */

/*nav {
  background-color: green;
} */

main {
  padding-top: 8rem;
}

/* footer {
  padding-left: 11rem;
  background-color: grey;
  margin-bottom: 30px;
} */

/*Startsidan*/

.menybild {
  height: 175px;
  width: 100%;
  position: relative;
}

h1 {
  text-align: center;
}

.pictures {
  width: 30px;
  height: 100px;
  display: block;
}

.row p {
  
  border-bottom: 3px solid rgb(164, 145, 39);
 
  padding-bottom: 50px;
  
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.row h1 {
  font-size: 20px;
  color: rgb(164, 145, 39);

  margin-bottom: 20px;
  font-size: 30px;
}

.bild-1 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 5px solid black;
  background-color: #c2b52559;
  padding: 100px;
  padding-top: 15px;
  border-radius: 15px;
  margin-right: -10px;
  box-shadow: 5.1px 10.2px 10.2px hsl(0deg 0% 0% / 0.34);
  margin-bottom: 15px;

}

.bild-2 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 5px solid black;
  background-color: #c2b52559;
  padding: 100px;
  padding-top: 15px;
  border-radius: 15px;
  margin-right: -10px;
  box-shadow: 5.1px 10.2px 10.2px hsl(0deg 0% 0% / 0.34);
  margin-bottom: 15px;
}

.bild-3 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 5px solid black;
  background-color: #c2b52559;
  padding: 100px;
  padding-top: 15px;
  border-radius: 15px;
  margin-right: -10px;
  box-shadow: 5.1px 10.2px 10.2px hsl(0deg 0% 0% / 0.34);
  margin-bottom: 15px;
}

.bild-4 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 5px solid black;
  background-color: #c2b52559;
  padding: 100px;
  padding-top: 15px;
  border-radius: 15px;
  margin-right: -10px;
  box-shadow: 5.1px 10.2px 10.2px hsl(0deg 0% 0% / 0.34);
  margin-bottom: 35px;
}

.picture-1 {
  width: 128px;
  height: 128px;

  border-radius: 15px;
}

.picture-2 {
  text-align: center;
  border-radius: 15px;
}

.picture-3 {
  border-radius: 15px;
}
.picture-4 {
  border-radius: 15px;
}

.row {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
  gap: 15px;
}

#content-start p {
}

#content-service p {
}

#content-employees p {
}

#content-kontakt p {
}

.popup { 
  /*width: 100%; */
  position: relative;
  transform: translateY(100px);
  opacity: 0; 
  transition: 1.5s ease-out;
}
.active { 
  transform: translateY(0);
  opacity: 1; 
 }

 @keyframes ani_gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.link {

  margin-right: .5em;
  padding: 3px;

}

.link:hover {

  
  color: rgb(0, 0, 0);
  

}

/* MENU STYLES STARTS HERE */

#menu-toggle:not(:checked)+.menu {

  display: none;

}

#menu-toggle:checked +.menu {

  display: block;

}

#menu-toggle {

  display:none;

}


.menu {

  /* background-color:rgb(160, 160, 169); */
  margin-right: .4em;
  margin-top: .4em;
}

#menu-button {

  margin-right: 10px;
  

}

@media only screen and (min-width: 1280px) {
  .menu {
    display: block;
  }

  .menu li {
    display: inline;
  }

  #menu-toggle:not(:checked) + .menu {
    display: flex;
  }
  
  #menu-button {display: none;}
}

/* STYLES FÖR CONTENT-START */

#start_item1 {
  background-image: url(/images/item1bild.webp);
  height: 250px;
  background-position: 50%;
  text-align: center;
  padding: 5em;
  color: aliceblue;
}

#start_item2 {

  /* background-color: lightslategray; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

header div.logo {
  padding-left: 1em;
  padding-top: 1.2em;
  font-family: 'Lexend Zetta', sans-serif;
  font-size: 2em;
  font-weight: bold;
} 


/*Tjänstesidan*/
#services_item1 {
    background-image: url(images/tjanster.png);
    background-size: 420px;
    background-position: center;
    color: white;
    font-family: "roboto", sans-serif;
    padding: 4em;
    opacity: 1;
    font-size: 0.9em;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
}

.cart{
 display: flex;
 justify-content: flex-end;
 border-bottom: 2px solid orange;
 
}

#img-cart{
  width: 50px;
  margin: 15px;
  margin-top: 15px;
}

.cart h1{
  width: 78%;
text-align: center;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 30px;
  row-gap: 7px;
  column-gap: 7px;

  
}

.grid-item{
  padding: 5px;
  background-color: #f8cd92;
  display:grid;
  grid-template-rows: auto 1fr auto;

}

.button-buy{
    
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;

    
    }

    .grid-item h1{
      font-family: 'Lexend Zetta';
      font-size: 20px;
      color:white;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    .grid-item p{
      font-family: 'Quicksand';
      font-size: 15px;
      color:black;
      font-weight: 500;
      text-align: center;
    }

    .price-button{
      display: flex;
      align-items: flex-end;
      margin-top: 10px;
      justify-content: center;
      padding-bottom: 5px;
      
    }

    .price-button p{
      font-weight: bold;
      font-size: 18px;
      padding-right: 10px;

    }

    .grid-item img{
      height: 40px;
      filter: invert(1) 
    }

    .header-img{
      display:flex;
      align-content: center;
      justify-content: center;
      padding-bottom: 10px;
      
    }

    .header-img h1{
      margin-right: 10px;
    }

    #cart-icon{
      width: 20px;
      height: 20px;
      background-color: red;
      border-radius: 100px;
      text-align: center;
      color: white;
      font-family: 'Nunito';
      position: absolute;
      margin-top: 10px;
      margin-right: 6px;
      
      
    }

  





