#content_contact .form {
   padding: 0 2rem 3rem 2rem;
}

#content_contact .form h2 {
   text-align: center;
}

#content_contact .fieldset {
   display: grid;
   grid-template-rows: 1fr auto;
}

#content_contact .form .fieldset .error {
   color: darkred;
   font-size: 90%;
   padding: 0.35rem 0;
}

#content_contact .form .fieldset .field {
   display: grid;
   grid-auto-flow: row;
}

#content_contact .form input,
#content_contact .form textarea {
   padding: 0.5rem;
   font-size: 85%;
   border: 1px solid #515151;
}

#content_contact .form input:focus,
#content_contact .form textarea:focus {
   box-shadow: 2px 2px 10px gray;
}

#content_contact .form textarea {
   height: 9rem;
}

#content_contact input[type='submit'] {
   margin-top: 2.5rem;
}

#content_contact .done .image {
   display: grid;
   justify-content: center;
   padding: 2rem 0;
}

@media (max-width: 1024px) {
   #content_contact {
      display: grid;
      grid-template-rows: auto 1fr;
      row-gap: 1.5rem;
   }   
}

@media (min-width: 481px) and (max-width: 1024px) {
   #content_contact .header {
      height: 20rem;
      text-align: center;
   }

   #content_contact .header img {
      border-bottom-left-radius: 1rem;
   }

   #content_contact .form {
      max-width: 640px;
      margin: 0 auto;
   }
}

@media (min-width: 1024px) {
   #content_contact {
      display: grid;
      grid-template-columns: 1fr 45%;
   }

   #content_contact .header {
      grid-column: 2;
   }

   #content_contact .form {
      grid-row: 1;
      grid-column: 1;
   }

   #content_contact .form {
      max-width: 80%;
      margin: 0 auto;
      padding-top: 2rem;
   }
}