#content_employees .employee-info > ul {
   display: grid;
   grid-auto-flow: row;
   row-gap: 0.5rem;
   list-style-type: none;
}

#content_employees .employee-info > ul > li {
   font-size: 90%;
}

#content_employees .employee-info > ul > li:first-of-type {
   font-weight: 500;
}

#content_employees .employee-info > ul > li:nth-of-type(2) {
   font-style: italic;
}

#content_employees .profile-pic {
   padding: 1rem 2rem;
}

#content_employees .profile-pic img {
   border-radius: 1rem;
   box-shadow: 1px 1px 5px rgb(85, 85, 85);
   transition: scale 300ms ease-in-out;
}

#content_employees .profile-pic img:hover {
   scale: 1.05;
}

#content_employees a {
   text-decoration: none;
}

#content_employees a:link,
#content_employees a:visited {
   color: black;
}

#content_employees a:hover,
#content_employees a:active {
   color: darkgoldenrod;
}

@media (max-width: 480px) {
   #content_employees {
      display: grid;
      grid-auto-flow: row;
      text-align: center;
   }

   #content_employees .content {
      padding: 2rem 0;
   }

   #content_employees .content > ul {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
   }

   #content_employees .content p {
      width: 90svw;
      margin: 0 auto;
      padding-bottom: 1rem;
   }

   #content_employees .profile-pic img {
      width: 80%;
   }
}

@media (min-width: 481px) and (max-width: 1023px) {
   #content_employees {
      display: grid;
      grid-auto-flow: row;
      text-align: center;
   }

   #content_employees .header {
      height: 20rem;
   }

   #content_employees .header img {
      border-bottom-right-radius: 1rem;
   }

   #content_employees .content {
      padding: 2rem 0;
   }

   #content_employees .content > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
   }

   #content_employees .content > ul > li {
      max-width: 40%;
   }

   #content_employees .content p {
      width: 90svw;
      margin: 0 auto;
      padding-bottom: 1rem;
   }
}

@media (min-width: 1024px) {
   #content_employees {
      display: grid;
      grid-template-columns: 1fr 45%;
   }

   #content_employees .header {
      grid-column: 2;
   }

   #content_employees .content {
      grid-row: 1;
      grid-column: 1;
      padding: 2rem 0;
      text-align: center;
   }

   #content_employees .content > ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1.5rem;
   }

   #content_employees .content > ul > li {
      max-width: 45%;
   }
}
