body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gridcontainer {
  display: grid;
  width: 100%;
}

.item-1 {
  background-color: blue;
  padding: 250px;
  color: white;
  text-align: center;
  background-image: url("images/item1bild.webp"); /* Ändra 'path_to_image1.jpg' till sökvägen för din bild */
  background-size: cover;
  background-position: center center;
}

.item-2 {
  background-color: #666;
  padding: 250px;
}
.item-3 {
  background-color: #fff;
  padding: 250px;
}
