#content_start > section.header {
   background-image: url(../../images/item1bild.webp);
   height: 250px;
   background-position: 50%;
   text-align: center;
   padding: 5em;
   color: aliceblue;
}

#content_start > section.pictures h1 {
   color: rgb(164, 145, 39);
   font-size: 1.75rem;
   text-shadow: 1px 1px 2px gray;
}

#content_start > section.pictures .info-card {
   text-align: center;
   font-weight: bold;
   border-bottom: 5px solid grey;
   background-color: #c2b52559;
   height: 300px;
   width: 250px;
   padding: 1rem 1.5rem;
   border-radius: 8px;
   margin: 1rem auto;
   box-shadow: 3px 3px 6px hsla(0, 0%, 16%, 0.34);
   transition: scale 200ms ease-out;
}

#content_start > section.pictures .info-card:hover {
   cursor: pointer;
   scale: 1.1;
}

#content_start > section.pictures .info-card .icon-text {
   font-size: 95%;
   font-style: italic;

   padding-top: 1rem;
   border-top: 3px solid rgb(164, 145, 39);
}

#content_start > section.pictures .info-card img {
   opacity: 0.8;
   filter: invert(1) drop-shadow(1px 2px 10px rgba(141, 137, 116, .95));
}

/* inställningar för större skärmar */
@media only screen and (min-width: 520px) {
   #content_start > section.pictures {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: fit-content;
      padding: 2.5rem 0;
      margin: 0 auto;
      gap: 3.5rem;
   }
}
