#content_start {
   display: grid;
   grid-template-rows: auto;
   gap: 2rem;
}

#content_start > section > h2 {
   font-size: 125%;
   text-align: center;
}

#content_start > .services {
   display: flex;
   flex-direction: column;
}

#content_start > .header {
   height: 12rem;
   /* de tre raderna nedan endast för debug! */
   background-color: yellowgreen;
   display: grid;
   place-content: center;
}

/* #content_start > .header {
   background-image: url(../../images/item1bild.webp);
   height: 250px;
   background-position: 50%;
   text-align: center;
   padding: 5em;
   color: aliceblue;
} */

#content_start > .services h3 {
   color: rgb(164, 145, 39);
   font-size: 1.75rem;
   text-shadow: 1px 1px 2px gray;
}

#content_start > .services .info-card {
   text-align: center;
   font-weight: bold;
   border-bottom: 5px solid grey;
   background-color: #c2b52559;
   height: 350px;
   width: 280px;
   padding: 1rem 1.5rem;
   border-radius: 8px;
   margin: 1rem auto;
   box-shadow: 3px 3px 6px hsla(0, 0%, 16%, 0.34);
}

/* #content_start > .services .info-card:hover {
   cursor: pointer;
   scale: 1.1;
} */

#content_start > .services .info-card .icon-text {
   font-size: 95%;
   padding-top: 1rem;
   border-top: 3px solid rgb(164, 145, 39);
}

#content_start > .services .info-card img {
   opacity: 0.8;
   filter: invert(1) drop-shadow(1px 2px 10px rgba(141, 137, 116, 0.95));
}

#content_start > .info {
   padding: 0 5svw;
}

#content_start > .gallery {
   padding: 2rem 0;
   background-color: #eee;
}

@media only screen and (min-width: 768px) {
   #content_start {
      grid-template-columns: 50% 50%;
      gap: 0;
   }

   #content_start > .header {
      grid-column: 1 / span 2;
   }

   #content_start > .info,
   #content_start > .gallery,
   #content_start > .services {
      padding: 2rem 2.5rem;
   }

   #content_start > .gallery {
      background-color: #e5e5e5;
   }

   #content_start > .info {
      background-color: #eeeeee;
   }

   #content_start > .services {
      grid-column: 1 / span 2;

      display: grid;
      column-gap: 2rem;
      row-gap: 2rem;
      justify-content: space-around;

      width: fit-content;
      padding: 2.5rem 0;
      margin: 0 auto;
   }

   #content_start > .services h2 {
      grid-column: 1 / span 4;
   }

   #content_start > .services .info-card {
      width: 270px;
   }
}
