
/* START STYLES FÖR INFO-CONTAINER */
.info-charles {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  
}

.info-charles a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.info-charles a:hover {
  color: rgb(247, 79, 24);
}

#info-text-charles {
  shape-outside: circle(100 100 100);
}


#charles-title {
  font-style: italic;
  /* margin-top: -20px; */
  font-size: 0.9em;
}

#charles-face {
  max-width: 25%;
  height: auto;
  border-radius: 100%;
  float: left;
  shape-outside: circle(50%);
  margin-right: 15px;
  
}

#charles-face:hover {
  opacity: 0.7;
  scale: 1.03;
}

/* SLUT PÅ STYLES INFO-CONTAINER */

/* START STYLES FÖR SKILL-BAR */

.skills-container {

    background-color: #e3e3e3;
}

.skills-container h3 {

    padding-left:20px;

}

.charles-skills {
    box-sizing: border-box;
    padding: 15px 40px 40px 75px;
    background-color: #e3e3e3;
    margin-top: 15px;
     
    
}

.charles-skills .bar {
    height: 12px;
    width: 85%;
    background-color: #e3e3e3;
    border: 1.5px solid black;
    margin-bottom: 25px;
    border-radius: 10px;
    overflow: hidden;
    text-align: right;
}
.charles-skills .filler {
    height: 100%;
    width: 0%;
    background: linear-gradient(-90deg, #f74f18 0%, #fedf16 100%);
    position: relative;
}
.charles-skills .skills-text {
    
    position: absolute;
    color: black;
    margin-top: -20px;
    margin-left: -32px;
    font-size: .9em;
    
}

/* Animation */
@keyframes bar-fill {
    100% {
        width: var(--width);
    }
}

.charles-skills .filler.animated-bar {
    animation: bar-fill 5s forwards;
}


/* SLUT STYLES FÖR SKILL-BAR */

/* START STYLES FÖR PROJECTS */

.charles-projects {
  background-color: rgb(216, 216, 216);
  display: grid;
  
      
}

.charles-projects h4 {

    font-size: 0.9em;
    


}

#projects-title { 

    background-color: rgb(216, 216, 216);
    

}

.project-details {

    color: rgb(94, 94, 94);
    

}

.project-details:hover {

    scale: 1.05;
}

.charles-projects h3 {

    padding-left: 20px;
    grid-column: 1 / span 5;
}


#project-1, #project-2, #project-3, #project-4, #project-5 {

    padding: 10px 10px 10px 20px;
    height: 100%;
    

}

#project-1, #project-3, #project-5 {

    background-color: #a5a5a5;
    
    

   
}

.quality-review {

    margin-top: 15px;
    width: 15%;
    opacity: 60%;
}

.text-review {

    font-size: .8em;
    text-transform: uppercase;
   

}



/* SLUT STYLES FÖR PROJECTS */

/* START MEDIA QUERY FÖR STORA SKÄRMAR */

@media only screen and (min-width: 768px) {
  #content_employee_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  

  .charles-projects {
    grid-template-columns: repeat(5, 20%);
    grid-column: 1 / span 2;
    align-items: center;
    padding: 0 25px 0 25px;
  }

  #projects-title {

    grid-column: 1 / span 5;
    justify-content: center;
    background-color: rgb(216, 216, 216);
    text-align: center;
    padding: 10px 0 10px 0;

  }
  
  #project-1, #project-2, #project-3, #project-4, #project-5 {

    background-color: rgb(216, 216, 216);
    
 }


}

/* SLUT MEDIA QUERY FÖR STORA SKÄRMAR */
