html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #101114;
}

header {
  top: 0;
  position: fixed;
  height: 8rem;
  width: 100%;
  display: flex;
  background-color: lightgrey;
  justify-content: space-between;
}

header div.logo {
  background-color: yellow;
}

nav {
  background-color: green;
}

main {
  padding-top: 8rem;
}

/* footer {
  padding-left: 11rem;
  background-color: grey;
  margin-bottom: 30px;
} */

/*Startsidan*/

.menybild {
  height: 175px;
  width: 100%;
  position: relative;
}

h1 {
  text-align: center;
}

.pictures {
  width: 30px;
  height: 100px;
  display: block;
}

.row p {
  color: rgb(0, 0, 0);
  border-bottom: 3px solid rgb(68, 170, 85);
  padding-bottom: 50px;

  font-size: 20px;
  color: rgb(173, 167, 167);
}

.row h1 {
  font-size: 20px;
  color: rgb(68, 170, 85);

  margin-bottom: 20px;
  font-size: 30px;
}

.bild-1 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid black;
  background-color: #1f222759;
  padding: 100px;
  padding-top: 15px;
  border-radius: 15px;
  box-shadow: 5.1px 10.2px 10.2px hsl(0deg 0% 0% / 0.34);
}

.bild-2 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 5px solid black;
  background-color: #1f222759;
  padding: 100px;
  padding-top: 15px;
  border-radius: 15px;
  box-shadow: 5.1px 10.2px 10.2px hsl(0deg 0% 0% / 0.34);
}

.bild-3 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 5px solid black;
  background-color: #1f222759;
  padding: 100px;
  padding-top: 15px;
  border-radius: 15px;
  box-shadow: 5.1px 10.2px 10.2px hsl(0deg 0% 0% / 0.34);
}

.bild-4 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 5px solid black;
  background-color: #1f222759;
  padding: 100px;
  padding-top: 15px;
  border-radius: 15px;
  box-shadow: 5.1px 10.2px 10.2px hsl(0deg 0% 0% / 0.34);
}

.picture-1 {
  width: 128px;
  height: 128px;

  border-radius: 15px;
}

.picture-2 {
  text-align: center;

  border-radius: 15px;
}

.picture-3 {
  border-radius: 15px;
}
.picture-4 {
  border-radius: 15px;
}

.row {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
  gap: 15px;
}

#content-start p {
}

#content-service p {
}

#content-employees p {
}

#content-kontakt p {
}
