<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@700&family=Nunito+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="lib/router/router.css" />
    <link rel="stylesheet" href="style/base.css" />
    <link rel="stylesheet" href="style/header.css" />
    <link rel="stylesheet" href="style/footer.css" />
    <link rel="stylesheet" href="style/pages/start.css" />
    <link rel="stylesheet" href="style/pages/contact.css" />
    <link rel="stylesheet" href="style/pages/employees.css" />
    <link rel="stylesheet" href="style/pages/services.css" />
    <link rel="stylesheet" href="style/charles/charles-style.css">

    <script defer src="lib/router/navigation.js"></script>
    <script defer src="lib/scroll-effect/script.js"></script>

    <title>EACE</title>
  </head>

  <body>
    <header>
      <div class="logo">&lt;/&gt; EACE</div>
      <nav>
        <label id="menu-button" for="menu-toggle">
          <div class="hamburger">
            <div class="stripes">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </label>
        <input id="menu-toggle" type="checkbox" />

        <div class="menu">
          <ul>
            <li>
              <label class="link" for="page_start" tabindex="0"
                >Startsidan</label
              >
            </li>
            <li>
              <label class="link" for="page_services" tabindex="0"
                >Tjänster</label
              >
            </li>
            <li>
              <label class="link" for="page_employees" tabindex="0"
                >Anställda</label
              >
            </li>
            <li>
              <label class="link" for="page_contact" tabindex="0"
                >Kontakt</label
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <!-- START: Startsidan -->

      <input type="radio" name="app" id="page_start" checked />
      <div id="content_start" class="page">
        <div class="header">

        </div>
        <section class="info">
          <h2>Vad är EACE?</h2>
          <br>
            EACE är ett ledande IT-konsultföretag som levererar innovativa och
            skräddarsydda IT-lösningar till företag över hela världen. Med en
            djup förståelse för teknik och en passion för att skapa värde för
            våra kunder, hjälper vi företag att uppnå sin fulla potential genom
            digital transformation. 
            
            <br><br><h3>Varför EACE?</h3> 
            
            <dl>
               <dt>Erfarenhet och expertis:</dt>
               <dd>Vårt team av erfarna konsulter har en gedigen bakgrund inom IT och branschspecifika kunskaper.</dd>
               <br>
               <dt>Kreativa Lösningar:</dt>
               <dd>Vi tänker utanför boxen för att hitta innovativa lösningar som ger våra kunder konkurrensfördelar.</dd>
               <br>
               <dt>Klientfokuserad:</dt>
               <dd>Dina behov är vårt fokus, och vi strävar alltid efter att överträffa dina förväntningar.</dd>
               <br>
               <dt>Resultatinriktade:</dt>
               <dd>Vi mäter vår framgång genom de resultat vi levererar till våra kunder.</dd>
             </dl>

          </p>
        </section>

        <section class="gallery">
          <h2>Bilder från företaget</h2>

          <img :src="imagez[currentImageIndex].image" />
          <div class="gallery-button">
            <button
              @click="currentImageIndex--"
              :disabled="currentImageIndex === 0"
            >
              Föregående
            </button>
            <button
              @click="currentImageIndex++"
              :disabled="currentImageIndex === imagez.length - 1"
            >
              Nästa
            </button>
          </div>
        </section>
        <section class="services">
          <h2>Våra tjänster</h2>
          <div
            v-for="{src, headline, content} of images"
            class="info-card js-faded-outside-view"
          >
            <img :src="src" :alt="headline" />
            <h3 v-text="headline"></h3>
            <div class="icon-text" v-text="content"></div>
          </div>
          </section>
          <div id="more-info">
        <p>Vill du veta mer om någon av våra tjänster? <br>  <label class="link" for="page_services" tabindex="0"
         >Klicka här!</label
       ></p>
      </div>
      </div>
      <script defer type="module" src="lib/js/pages/start.js"></script>

      <!-- END: Startsidan -->

      <!-- START: Tjänster -->

      <input type="radio" name="app" id="page_services" />
      <div id="content_services" class="page">
        <div class="header">
          <h3>Våra tjänster</h3>

          <button
            class="trash-button"
            title="Töm varukorgen"
            @click="emptyCart"
            :disabled="cart.length == 0"
            tabindex="0"
          >
            <img width="20" src="images/trash-can1.png" alt="Soptunna" />
          </button>
          <button class="cart-button" tabindex="0" :disabled="cart.length == 0">
            <img width="26" src="images/shopping-cart.png" alt="Varukorg" />
            <span
              class="cart-icon"
              v-if="cart.length > 0"
              v-text="cart.length"
            ></span>
          </button>
        </div>
        <div class="products">
          <div
            class="product"
            v-for="{name, icon, description, price} of products"
          >
            <div class="header-img">
              <h1>{{name}}</h1>
              <img id="icon" :src="icon" />
            </div>
            <p v-text="description"></p>
            <div class="price-button">
              <p v-text="price"></p>
              <button class="button-buy" @click="addToCart(name)">
                Lägg till
              </button>
            </div>
          </div>
        </div>
        <p>OBS! Denna sida är inte klar på stor skärm...</p>
      </div>

      <script defer type="module" src="lib/js/pages/services.js"></script>

      <!-- END: Tjänster -->

      <!-- START: Anställda -->

      <input type="radio" name="app" id="page_employees" />
      <div id="content_employees" class="page">
        <div class="page-header">
          <picture>
            <source srcset="images/office.png" media="(min-width: 481px)" />
            <img
              class="header-image-right"
              src="images/office-mobile.png"
              alt="En bild föreställande ett kontor"
            />
          </picture>
        </div>
        <div class="content">
          <h2>Det är vi som är EACE!</h2>
          <p>
            Du kan besöka varje medarbetares personliga sida genom att klicka på
            respektive profilbild.
          </p>
          <ul>
            <li
              class="js-faded-outside-view"
              v-for="{name, role, email, image, pageId} of employees"
            >
              <div class="profile-pic">
                <label class="link" :for="pageId" :title="name">
                  <img :src="image" :alt="name" />
                </label>
              </div>
              <div class="employee-info">
                <h3 v-text="name"></h3>
                <ul>
                  <li v-text="role"></li>
                  <li v-text="email"></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <script defer type="module" src="lib/js/pages/employees.js"></script>

      <!-- END: Anställda -->

      <!-- START: Kontakt -->

      <input type="radio" name="app" id="page_contact" />
      <div id="content_contact" class="page">
        <div class="layout">
          <div>
            <picture>
              <source
                srcset="images/contact_page.png"
                media="(min-width: 481px)"
              />
              <img
                class="header-image-left"
                src="images/contact_page-mobile.png"
                alt="Kvinna som arbetar med support"
              />
            </picture>
          </div>
          <div class="form" v-if="!completed">
            <h2>Kontakta oss</h2>
            <p>
              Har du frågor angående våra tjänster? Fyll i formuläret nedan för
              att komma i kontakt med vår kundtjänst så hjälper vi dig!
            </p>
            <form @submit.prevent="submit">
              <div
                class="fieldset"
                v-for="{id, element, type, required, label, error} of getFields()"
              >
                <div class="field">
                  <p v-text="label + ':'"></p>
                  <input
                    v-if="element == 'input'"
                    :type="type"
                    :name="id"
                    @input="trackInput"
                  />
                  <textarea
                    v-if="element == 'textarea'"
                    :name="id"
                    @input="trackInput"
                  ></textarea>
                </div>
                <div
                  class="error"
                  v-if="errors[id] != null"
                  v-text="error"
                ></div>
              </div>
              <input type="submit" value="Skicka meddelandet" />
            </form>
          </div>
          <div class="form done" v-else>
            <h2>Tack för ditt meddelande!</h2>
            <p>Vi kommer att kontakta dig snarast möjligt.</p>
            <div class="image">
              <img width="128" src="images/messages.png" alt="Pratbubblor" />
            </div>
          </div>
        </div>
      </div>

      <script defer type="module" src="lib/js/pages/contact.js"></script>

      <!-- END: Kontakt -->

      <!-- START: Eriks personliga sida -->
      <input type="radio" name="app" id="page_employee_1" />
      <div id="content_employee_1" class="page">Eriks personliga sida</div>
      <!-- SLUT: Eriks personliga sida -->

      <!-- START: Charles personliga sida -->
      <input type="radio" name="app" id="page_employee_2" />
      <div id="content_employee_2" class="page">
         
         <div class="info-charles">
            <h2>Charles Åkerstedt</h2>
            <p id="charles-title">Data Mining Engineer</p>
      
            
               <div id="info-text-charles">
                  <p>
                     <img id="charles-face"
                     src="images/ai-charles-face.png"
                     alt="employee2">
                 <br>&nbsp;&nbsp;&nbsp;&nbsp;Hej!<br><br>Mitt namn är Charles Åkerstedt,  och jag är stolt över att vara en del av EACE som Data Mining Engineer.<br><br> Mitt arbete innebär att gräva djupt in i data och använda avancerade analysmetoder för att hitta värdefull information och insikter som hjälper vårt företag att ta datadrivna beslut.<br><br>
                 
                 Jag är passionerad när det gäller att utforska komplexa datamängder och att hitta mönster som kan omsättas i praktiska lösningar. Med mina färdigheter i datautvinning och analys hjälper jag vårt team att dra nytta av dataresurserna på bästa sätt.<br><br>
                 
                 Om du har några frågor eller om du vill diskutera möjligheter att använda data för att förbättra våra processer och beslut, är du alltid välkommen att kontakta mig på <a href="mailto:charles.akerstedt@eace.se">charles.akerstedt@eace.se</a>.
                 
                 Jag ser fram emot att samarbeta med dig och driva innovation genom data på EACE!

               </p>
            </div>
         </div>
         <div class="skill-bar">
            <h3>Mina skills</h3>
            <p>Här infogas skill-bar</p><br>
            <p>Här infogas skill-bar</p><br>
            <p>Här infogas skill-bar</p><br>
            <p>Här infogas skill-bar</p><br>
            <p>Här infogas skill-bar</p><br>
            <p>Här infogas skill-bar</p><br>
            <p>Här infogas skill-bar</p><br>
            

         </div>

         <div class="charles-projects">
         <h3>Mina projekt</h3>
          <p>Här infogas 5st projekt</p><br>
          <p>Här infogas 5st projekt</p><br>
          <p>Här infogas 5st projekt</p><br>
          <p>Här infogas 5st projekt</p><br>
          <p>Här infogas 5st projekt</p><br>
          <p>Här infogas 5st projekt</p><br>
            

         </div>

      </div>
      <!-- SLUT: Charles personliga sida -->

      <!-- START: Emmas personliga sida -->
      <input type="radio" name="app" id="page_employee_3" />
      <div id="content_employee_3" class="page">Emmas personliga sida</div>
      <!-- SLUT: Emmas personliga sida -->

      <!-- START: Axels personliga sida -->
      <input type="radio" name="app" id="page_employee_4" />
      <div id="content_employee_4" class="page">Axels personliga sida</div>
      <!-- SLUT: Axels personliga sida -->
    </main>
    <footer>
      <div class="copy">&copy; EACE 2023</div>
      <ul>
        <li>
          <a href="http://facebook.com/" title="Facebook" target="_blank"
            ><img
              src="images/facebook.png"
              width="24"
              alt="Facebook icon"
              loading="lazy"
          /></a>
        </li>
        <li>
          <a href="http://instagram.com/" title="Instagram" target="_blank">
            <img
              src="images/instagram.png"
              width="24"
              alt="Instagram icon"
              loading="lazy"
            />
          </a>
        </li>
        <li>
          <a href="http://tiktok.com/" title="TikTok" target="_blank">
            <img
              src="images/tik-tok.png"
              width="24"
              alt="TikTok icon"
              loading="lazy"
            />
          </a>
        </li>
        <li>
          <a href="http://github.com/" title="GitHub" target="_blank">
            <img
              src="images/github.png"
              width="24"
              alt="GitHub icon"
              loading="lazy"
            />
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
