<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1"
      />
      <link
         rel="preconnect"
         href="https://fonts.googleapis.com"
      />
      <link
         rel="preconnect"
         href="https://fonts.gstatic.com"
         crossorigin="anonymous"
      />
      <link
         href="https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@700&family=Nunito+Sans:wght@400;500;600;700&display=swap"
         rel="stylesheet"
      />
      <link
         rel="stylesheet"
         href="lib/router/router.css"
      />
      <link
         rel="stylesheet"
         href="style/base.css"
      />
      <link
         rel="stylesheet"
         href="style/header.css"
      />
      <link
         rel="stylesheet"
         href="style/footer.css"
      />
      <link
         rel="stylesheet"
         href="style/pages/start.css"
      />
      <link
         rel="stylesheet"
         href="style/pages/contact.css"
      />
      <link
         rel="stylesheet"
         href="style/pages/employees.css"
      />
      <link
         rel="stylesheet"
         href="style/pages/services.css"
      />

      <script
         defer
         src="lib/router/navigation.js"
      ></script>
      <script
         defer
         src="lib/scroll-effect/script.js"
      ></script>

      <title>EACE</title>
   </head>

   <body>
      <header>
         <div class="logo">&lt;/&gt; EACE</div>
         <nav>
            <label
               id="menu-button"
               for="menu-toggle"
            >
               <div class="hamburger">
                  <div class="stripes">
                     <div></div>
                     <div></div>
                     <div></div>
                  </div>
               </div>
            </label>
            <input
               id="menu-toggle"
               type="checkbox"
            />

            <div class="menu">
               <ul>
                  <li>
                     <label
                        class="link"
                        for="page_start"
                        tabindex="0"
                        >Startsidan</label
                     >
                  </li>
                  <li>
                     <label
                        class="link"
                        for="page_services"
                        tabindex="0"
                        >Tjänster</label
                     >
                  </li>
                  <li>
                     <label
                        class="link"
                        for="page_employees"
                        tabindex="0"
                        >Anställda</label
                     >
                  </li>
                  <li>
                     <label
                        class="link"
                        for="page_contact"
                        tabindex="0"
                        >Kontakt</label
                     >
                  </li>
               </ul>
            </div>
         </nav>
      </header>

      <main>
         <!-- START: Startsidan -->

         <input
            type="radio"
            name="app"
            id="page_start"
            checked
         />
         <div
            id="content_start"
            class="page"
         >
            <div class="header">En bild här?</div>
            <section class="info">
               <h2>Information om företaget!</h2>
               <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
               </p>

               <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using 'Content
                  here, content here', making it look like readable English.
                  Many desktop publishing packages and web page editors now use
                  Lorem Ipsum as their default model text, and a search for
                  'lorem ipsum' will uncover many web sites still in their
                  infancy. Various versions have evolved over the years,
                  sometimes by accident, sometimes on purpose (injected humour
                  and the like).
               </p>
            </section>
            <section class="gallery">
               <h2>Bilder från företaget</h2>
               <p style="text-align: center">Här ska galleriet vara!</p>
            </section>
            <section class="services">
               <h2>Våra tjänster</h2>
               <div
                  v-for="{src, headline, content} of images"
                  class="info-card js-faded-outside-view"
               >
                  <img
                     :src="src"
                     :alt="headline"
                  />
                  <h3 v-text="headline"></h3>
                  <div
                     class="icon-text"
                     v-text="content"
                  ></div>
               </div>
               <p>Vill du veta mer om någon av våra tjänster? Klicka här!</p>
            </section>
         </div>
         <script
            defer
            type="module"
            src="lib/js/pages/start.js"
         ></script>

         <!-- END: Startsidan -->

         <!-- START: Tjänster -->

         <input
            type="radio"
            name="app"
            id="page_services"
         />
         <div
            id="content_services"
            class="page"
         >
            <div class="header">
               <h3>Våra tjänster</h3>

               <button
                  class="trash-button"
                  title="Töm varukorgen"
                  @click="emptyCart"
                  :disabled='cart.length == 0'
                  tabindex="0"
               >
                  <img
                     width="20"
                     src="images/trash-can1.png"
                     alt="Soptunna"
                  />
               </button>
               <button
                  class='cart-button'
                  tabindex="0"
                  :disabled="cart.length == 0"
               >
                  <img
                     width="26"
                     src="images/shopping-cart.png"
                     alt="Varukorg"
                  />
                  <span
                     class="cart-icon"
                     v-if="cart.length > 0"
                     v-text="cart.length"
                  ></span>
               </button>
            </div>
            <div class="products">
               <div
                  class="product"
                  v-for="{name, icon, description, price} of products"
               >
                  <div class="header-img">
                     <h1>{{name}}</h1>
                     <img
                        id="icon"
                        :src="icon"
                     />
                  </div>
                  <p v-text="description"></p>
                  <div class="price-button">
                     <p v-text="price"></p>
                     <button
                        class="button-buy"
                        @click="addToCart(name)"
                     >
                        Lägg till
                     </button>
                  </div>
               </div>
            </div>
            <p>OBS! Denna sida är inte klar på stor skärm...</p>
         </div>

         <script
            defer
            type="module"
            src="lib/js/pages/services.js"
         ></script>

         <!-- END: Tjänster -->

         <!-- START: Anställda -->

         <input
            type="radio"
            name="app"
            id="page_employees"
         />
         <div
            id="content_employees"
            class="page"
         >
            <div class="page-header">
               <picture>
                  <source
                     srcset="images/office.png"
                     media="(min-width: 481px)"
                  />
                  <img
                     class="header-image-right"
                     src="images/office-mobile.png"
                     alt="En bild föreställande ett kontor"
                  />
               </picture>
            </div>
            <div class="content">
               <h2>Det är vi som är EACE!</h2>
               <p>
                  Du kan besöka varje medarbetares personliga sida genom att
                  klicka på respektive profilbild.
               </p>
               <ul>
                  <li
                     class="js-faded-outside-view"
                     v-for="{name, role, email, image, pageId} of employees"
                  >
                     <div class="profile-pic">
                        <label
                           class="link"
                           :for="pageId"
                           :title="name"
                        >
                           <img
                              :src="image"
                              :alt="name"
                           />
                        </label>
                     </div>
                     <div class="employee-info">
                        <h3 v-text="name"></h3>
                        <ul>
                           <li v-text="role"></li>
                           <li v-text="email"></li>
                        </ul>
                     </div>
                  </li>
               </ul>
            </div>
         </div>

         <script
            defer
            type="module"
            src="lib/js/pages/employees.js"
         ></script>

         <!-- END: Anställda -->

         <!-- START: Kontakt -->

         <input
            type="radio"
            name="app"
            id="page_contact"
         />
         <div
            id="content_contact"
            class="page"
         >
            <div class="layout">
               <div>
                  <picture>
                     <source
                        srcset="images/contact_page.png"
                        media="(min-width: 481px)"
                     />
                     <img
                        class="header-image-left"
                        src="images/contact_page-mobile.png"
                        alt="Kvinna som arbetar med support"
                     />
                  </picture>
               </div>
               <div
                  class="form"
                  v-if="!completed"
               >
                  <h2>Kontakta oss</h2>
                  <p>
                     Har du frågor angående våra tjänster? Fyll i formuläret
                     nedan för att komma i kontakt med vår kundtjänst så hjälper
                     vi dig!
                  </p>
                  <form @submit.prevent="submit">
                     <div
                        class="fieldset"
                        v-for="{id, element, type, required, label, error} of getFields()"
                     >
                        <div class="field">
                           <p v-text="label + ':'"></p>
                           <input
                              v-if="element == 'input'"
                              :type="type"
                              :name="id"
                              @input="trackInput"
                           />
                           <textarea
                              v-if="element == 'textarea'"
                              :name="id"
                              @input="trackInput"
                           ></textarea>
                        </div>
                        <div
                           class="error"
                           v-if="errors[id] != null"
                           v-text="error"
                        ></div>
                     </div>
                     <input
                        type="submit"
                        value="Skicka meddelandet"
                     />
                  </form>
               </div>
               <div
                  class="form done"
                  v-else
               >
                  <h2>Tack för ditt meddelande!</h2>
                  <p>Vi kommer att kontakta dig snarast möjligt.</p>
                  <div class="image">
                     <img
                        width="128"
                        src="images/messages.png"
                        alt="Pratbubblor"
                     />
                  </div>
               </div>
            </div>
         </div>

         <script
            defer
            type="module"
            src="lib/js/pages/contact.js"
         ></script>

         <!-- END: Kontakt -->

         <!-- START: Eriks personliga sida -->
         <input
            type="radio"
            name="app"
            id="page_employee_1"
         />
         <div
            id="content_employee_1"
            class="page"
         >
            Eriks personliga sida
         </div>
         <!-- SLUT: Eriks personliga sida -->

         <!-- START: Charles personliga sida -->
         <input
            type="radio"
            name="app"
            id="page_employee_2"
         />
         <div
            id="content_employee_2"
            class="page"
         >
            Charles personliga sida
         </div>
         <!-- SLUT: Charles personliga sida -->

         <!-- START: Emmas personliga sida -->
         <input
            type="radio"
            name="app"
            id="page_employee_3"
         />
         <div
            id="content_employee_3"
            class="page"
         >
            Emmas personliga sida
         </div>
         <!-- SLUT: Emmas personliga sida -->

         <!-- START: Axels personliga sida -->
         <input
            type="radio"
            name="app"
            id="page_employee_4"
         />
         <div
            id="content_employee_4"
            class="page"
         >
            Axels personliga sida
         </div>
         <!-- SLUT: Axels personliga sida -->
      </main>
      <footer>
         <div class="copy">&copy; EACE 2023</div>
         <ul>
            <li>
               <a
                  href="http://facebook.com/"
                  title="Facebook"
                  target="_blank"
                  ><img
                     src="images/facebook.png"
                     width="24"
                     alt="Facebook icon"
                     loading="lazy"
               /></a>
            </li>
            <li>
               <a
                  href="http://instagram.com/"
                  title="Instagram"
                  target="_blank"
               >
                  <img
                     src="images/instagram.png"
                     width="24"
                     alt="Instagram icon"
                     loading="lazy"
                  />
               </a>
            </li>
            <li>
               <a
                  href="http://tiktok.com/"
                  title="TikTok"
                  target="_blank"
               >
                  <img
                     src="images/tik-tok.png"
                     width="24"
                     alt="TikTok icon"
                     loading="lazy"
                  />
               </a>
            </li>
            <li>
               <a
                  href="http://github.com/"
                  title="GitHub"
                  target="_blank"
               >
                  <img
                     src="images/github.png"
                     width="24"
                     alt="GitHub icon"
                     loading="lazy"
                  />
               </a>
            </li>
         </ul>
      </footer>
   </body>
</html>
