* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grid-axel {
  display: grid;
  margin-left: 10px;
  margin-right: 10px;
}

/* .info-axel {
} */
.info-axel img {
  width: 135px;
  border-radius: 100%;
  margin-left: 7px;
  margin-top: -15px;
  float: left;
}

.p-chief {
  font-style: italic;
  color: gray;
  text-align: center;
}

.h-axel {
  text-align: center;
  margin-top: 30px;
}

.info-text p:last-of-type {
  text-align: center;
  margin-top: 70px;
}

.back-color {
  display: grid;
  place-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.skills-axel {
  background-color: white;
  padding: 5px 20px 25px;
  display: grid;
  place-content: center;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;

  box-shadow: 12px 12px 2px 2px rgba(200, 200, 207, 0.2);
}

/** ANIMERADE SKILLBARS **/

.load-bar-animation {
  animation: bar-fill 2.5s ease-out forwards;
}

@keyframes bar-fill {
  100% {
    width: var(--width);
  }
}

.fill {
  background: linear-gradient(-90deg, #f74f18 0%, #fedf16 100%);
  width: 0%;
  height: 100%;
  /* animation: bar-fill 10s forwards; */
}
.bar {
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(243, 241, 241);
  background: white;
  overflow: hidden;
  width: 300px;
  height: 20px;
  box-shadow: 4px 4px 2px 1px rgba(200, 200, 207, 0.3);
}

.skills-text {
  text-align: center;
  position: relative;
  bottom: 18.5px;
  color: white;
  left: 135px;
}

h3 {
  text-align: center;
  font-style: italic;
  color: rgb(56, 54, 54);
}

.grid-container img {
  height: 150px;
  width: 100%;
  filter: opacity(0.2);
}

@media (max-width: 640px) {
  .grid-container {
    display: grid;
    padding: 10px 10px 0px 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .grid {
    background-color: white;
    border-radius: 15px;
    margin-bottom: 10px;
    background-image: url("/Axel/_build/images/cool-background\ \(2\).png");
    background-position: top;
  }

  .grid-container h2 {
    /* border: 3px solid black;
    border-bottom: none; */
    text-align: center;
  }

  .grid-container p:first-of-type {
    font-style: italic;
    color: grey;
    text-align: center;
    /* border: 3px solid black;
    border-top: none;
    border-bottom: none; */
  }

  .grid-container p {
    text-align: center;
  }

  .grid {
    border-radius: 15px;
    background-color: white;
    margin-bottom: 10px;
  }
}
@media (min-width: 1024px) {
  .info-axel {
    margin-bottom: 60px;
  }

  .info-axel img {
    margin-top: 5px;
  }

  .info-axel h2 {
    text-align: center;
  }

  .info-axel p:first-of-type {
    text-align: center;
  }

  .info-text {
    background-color: rgb(255, 253, 253);
    border-radius: 10px;
    box-shadow: 4px 4px 2px 1px rgba(200, 200, 207, 0.3);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -25px;
  }

  .skills-axel {
    display: grid;
    padding: 40px 450px 40px 450px;
    margin-left: 0;
    margin-right: 0;
    background-image: url("/Axel/_build/images/cool-background\ \(6\).png");
    background-size: cover;
  }

  /* .grid-axel{
        background-image: url("/Axel/_build/images/cool-background\ \(5\).png");
        background-size: cover;
        
    } */

  .grid {
    background-color: white;
    border-radius: 15px;
    margin-bottom: 10px;
    background-image: url("/Axel/_build/images/cool-background\ \(2\).png");
    background-position: top;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    margin-bottom: 20px;

    margin-left: 10px;
    margin-right: 20px;
    border-radius: 10px;
  }

  .grid-container h2 {
    text-align: center;
  }

  .grid-container p {
    text-align: center;
  }
  .grid-container p:first-of-type {
    font-style: italic;
    color: grey;
  }

  .grid-container img {
    height: 50px;
  }

  .item2 p:last-of-type {
    margin-bottom: 6px;
  }
  .item3 p:last-of-type {
    margin-bottom: -11px;
  }
  .item4 p:last-of-type {
    margin-bottom: 16px;
  }
  .item5 p:last-of-type {
    margin-bottom: 25px;
  }
  .item6 p:last-of-type {
    margin-bottom: 10px;
  }
}
